<div class="wrapper">
  <div class="container">
    <div id="iphone-screenshots" class="carousel slide">
      <div id="screenshots-holder" class="carousel-inner" >                  
        <div class="active item"><%= image_tag "iphone_1.png" %></div>
        <div class="item"><%= image_tag "iphone_2.png" %></div>
        <div class="item"><%= image_tag "iphone_3.png" %></div>
        <div class="item"><%= image_tag "iphone_4.png" %></div>
        <div class="item"><%= image_tag "iphone_5.png" %></div>
        <div class="item"><%= image_tag "iphone_6.png" %></div>       
        <div class="item"><%= image_tag "iphone_7.png" %></div>
        <div class="item"><%= image_tag "iphone_8.png" %></div>   
        <div class="item"><%= image_tag "iphone_9.png" %></div>                                        
      </div>
      <a class="carousel-control left" href="#iphone-screenshots" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#iphone-screenshots" data-slide="next">&rsaquo;</a>
    </div>
    <div id="intro">
      <h1 id="logo">Golden State Fan App</h1>
      <p>The unofficial one stop source for everything Warriors basketball. Follow the team as they try to make the playoffs with the latest scores, stats, and news. Keep informed with the latest player news, trade rumors, and injuries from local news reporters and even the players themselves. Read blogs about team predictions and pre and post game analysis from local beat writers who have been following the team for over ten years. Easily find out when next game is or check the stats from a previous game with an up to date schedule calendar. Anything you ever wanted to know about the team can be found in this app!</p>
      <a href="https://itunes.apple.com/us/app/golden-state-fan/id595124266?ls=1&mt=8" target="_blank"><div class="appstore_btn"></div></a>
    </div><div class="push"></div>
  </div>                 
</div>
<footer>
  &copy;2014. pp productions llc. 
  <a href="https://twitter.com/gsfanapp" target="_blank"><%= image_tag "twitter.png", :class => 'twitter offset7' %></a>
  <a href="https://www.facebook.com/GSFanApp" target="blank"><%= image_tag "facebook.png" %></a>
</footer>